@import "../settings/spaces";
@import "../settings/color";

.form {
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  display: flex;

  & input {
    border: 1px solid $border-color;
    border-radius: 4px;
    height: 48px;
    padding: 0 $space-sm;
    font-size: 16px;
    color: $input-text-color;
    outline-color: $outline-color;

    &::placeholder {
      color: $placeholder-text-color;
    }
  }

  & button {
    margin-top: $space-xs;
  }
}
