@import "../settings/color";

.loader {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;

  &--1 {
    left: 0;
    top: 0;
    border-bottom: solid 3px $color-purple;
    animation: rotate-1 1s linear infinite;
  }

  &--2 {
    right: 0;
    top: 0;
    border-right: solid 3px $color-purple;
    animation: rotate-2 1s linear infinite;
  }

  &--3 {
    right: 0;
    top: 0;
    border-top: solid 3px $color-purple;
    animation: rotate-3 1s linear infinite;
  }
}
