// Colors
$color-white: #fff;

$default-bg-color: #f5f5f5;

$border-color: #ddd;

$input-text-color: #666;
$placeholder-text-color: lighten($input-text-color, 30%);

$color-danger: #DF4723;

$text-color: #333;
