// Colors
$color-white: #f8f8f2;
$color-danger: #ff5555;
$color-purple: #bd93f9;

// BG
$default-bg-color: #282a36;

// Border
$border-color: #ddd;

// Form
$input-text-color: #44475a;
$placeholder-text-color: lighten($input-text-color, 30%);

// Text
$text-color: #333;

// Outline
$outline-color: $color-purple;
