$space-lg: 20px;
$space-md: 16px;
$space-sm: 12px;
$space-xs: 10px;

// Button padding
$btn-padding-vertical-lg: 3 * $space-lg;
$btn-padding-vertical-md: 1.5 * $space-md;
$btn-padding-vertical-sm: 1.5 * $space-sm;
$btn-padding-vertical-xs: 1.5 * $space-xs;

$btn-padding-horizontal-lg: 1 * $space-lg;
$btn-padding-horizontal-md: 0.75 * $space-md;
$btn-padding-horizontal-sm: 0.75 * $space-sm;
$btn-padding-horizontal-xs: 0.75 * $space-xs;
